@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dargah-cream text-slate-900 font-body;
  }
}

@media print {
  body { background: white; }
  .no-print { display: none !important; }
  .print-only { display: block !important; }
}
